<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FastCheckoutServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="FastCheckoutServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="FastCheckoutServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://test.mobilexpress.com.tr/checkout/v7/FastCheckoutService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FastCheckoutServiceSoap"
                contract="MobilExpressServiceReference.FastCheckoutServiceSoap"
                name="FastCheckoutServiceSoap" />
            <endpoint address="https://test.mobilexpress.com.tr/checkout/v7/FastCheckoutService.asmx"
                binding="customBinding" bindingConfiguration="FastCheckoutServiceSoap12"
                contract="MobilExpressServiceReference.FastCheckoutServiceSoap"
                name="FastCheckoutServiceSoap12" />
        </client>
    </system.serviceModel>
</configuration>